label
{
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
}
#text
{
    width: 100%;
    padding: 8px 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    padding: auto;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 2px;
}

 h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
select {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}



@media(min-width:760px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 10px;
        border-radius: 2%;
    }
}
.swiper {
    width: 100%;
    height: 100%;
  }
